Repository VoronDesign/Voron-Afterburner, pull requests merged in 2022-02, with the labels that each got.

#80 Revised stealthburner_leds.cfg
  Klipper_Macros/stealthburner_leds.cfg
Labels: documentation, enhancement, stealthburner, beta

#83 Added Changelog to Repo
  README.md
  STLs/README.md
Labels: documentation, clockwork 2, stealthburner, beta

#92 Adds svg to rapido folder with clarification about orientations
  STLs/Stealthburner/Toolheads/README.md
  STLs/Stealthburner/Toolheads/phaetus_rapido/Correcting Heatsink Orientation.png
  STLs/Stealthburner/Toolheads/phaetus_rapido/README.md
Labels: documentation, good first issue, stealthburner, beta
